In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [3]:
spark = SparkSession.builder.master("local[*]").appName("garage").getOrCreate()

customer = spark.read.csv(r"customer.csv", header=True, inferSchema=True)
ser_det = spark.read.csv(r"ser_det.csv", header=True, inferSchema=True)
employee = spark.read.csv(r"employee.csv", header=True, inferSchema=True)
sparepart = spark.read.csv(r"sparepart.csv", header=True, inferSchema=True)
purchase = spark.read.csv(r"purchase.csv", header=True, inferSchema=True)
vendor = spark.read.csv(r"vendors.csv", header=True, inferSchema=True)

In [27]:
# customer.show(truncate=False)
# ser_det.show(truncate=False)

In [24]:
# "Q.1  List all the customers serviced."

serviced = customer.join(ser_det, customer['cid'] == ser_det['cid'], 'inner')
serviced.select(customer.cname,ser_det.typ_ser).show(truncate=False) 

# customer.join(ser_det, 'cid').show()

+------------+--------------+
|cname       |typ_ser       |
+------------+--------------+
|cyona blake |TUBE DAMAGED  |
|JOHN SMITH  |FULL SERVICING|
|JORDEN WOOD |CLUTCH WIRE   |
|JOHN SMITH  |FULL SERVICING|
|CHRISTANA   |COLOR         |
|KAMILA JOSEF|COLOR         |
|ANDRU SYMON |TUBE DAMAGED  |
+------------+--------------+

In [25]:
# "Q.2  Customers who are not serviced."

not_serviced = customer.join(ser_det, customer['cid'] == ser_det['cid'], 'leftanti').show()

# customer.join(ser_det, 'cid', 'anti').show()

+----+-------------+--------+--------+----------+---------+------+
| cid|        cname|    cadd| contact|creditdays|     date|gender|
+----+-------------+--------+--------+----------+---------+------+
|1005|     TOM HILL|  LONDON| 1239284|        10|25-JUN-15|  male|
|1008|SANJU SAMSUNG|NEW YORK|12346341|         4|20-JAN-16|  male|
+----+-------------+--------+--------+----------+---------+------+

In [47]:
## "Q.3  Employees who have not received the commission." 

ser_det.join(employee,'eid').where(col('comm')==0).select(employee.ename,ser_det.comm).show()
# try if you can eliminate the dublicate values

+-----------+----+
|      ename|comm|
+-----------+----+
|STEVEN KING|   0|
|STEVEN KING|   0|
|   LUIS POP|   0|
+-----------+----+

In [45]:
# "Q.4  Name the employee who have maximum Commission."

comm_2 = employee.join(ser_det, employee['eid'] == ser_det['eid'], 'inner')
max_comm = comm_2.groupBy("ename").agg(max('comm').alias("max_comm")).orderBy(desc("max_comm")).show(1)

# employee.join(ser_det,'eid').groupBy("ename").agg(max('comm').alias("max_comm")).orderBy(desc("max_comm")).show(1)

+-----------+--------+
|      ename|max_comm|
+-----------+--------+
|STEVEN KING|     150|
+-----------+--------+
only showing top 1 row

In [46]:
# "Q.5  Show employee name and minimum commission amount received by an employee."

comm_3 = ser_det.join(employee, ser_det['eid'] == employee['eid'], 'inner')
min_comm = comm_3.groupBy("ename").agg(min('comm')).show()

# ser_det.join(employee,'eid').groupBy("ename").agg(min('comm')).show()

+------------+---------+
|       ename|min(comm)|
+------------+---------+
|    LUIS POP|        0|
| STEVEN KING|        0|
|DAVID AUSTIN|       50|
+------------+---------+

In [23]:
# "Q.6  Display the Middle record from any table."      

window_obj = Window.orderBy("cid")
count_01 = customer.count()
middle_rec = customer.withColumn('row_number', row_number().over(window_obj))
middle_pos = (count_01 + 1) // 2
m = middle_rec.filter(col("row_number") == middle_pos).show() # filter can be used instead of where

+----+---------+---------+-------+----------+---------+------+----------+
| cid|    cname|     cadd|contact|creditdays|     date|gender|row_number|
+----+---------+---------+-------+----------+---------+------+----------+
|1004|CHRISTANA|MANHATTON|1125684|        31|23-APR-13|female|         4|
+----+---------+---------+-------+----------+---------+------+----------+

In [28]:
# "Q.7  Display last 4 records of any table."

last_4 = customer.orderBy(col("cid").desc()).limit(4).show(truncate=False)

+----+-------------+--------+--------+----------+---------+------+
|cid |cname        |cadd    |contact |creditdays|date     |gender|
+----+-------------+--------+--------+----------+---------+------+
|1008|SANJU SAMSUNG|NEW YORK|12346341|4         |20-JAN-16|male  |
|1007|ANDRU SYMON  |TEXAS   |125654  |15        |01-APR-16|male  |
|1006|KAMILA JOSEF |PRAISE  |124568  |9         |28-JUL-11|female|
|1005|TOM HILL     |LONDON  |1239284 |10        |25-JUN-15|male  |
+----+-------------+--------+--------+----------+---------+------+

In [29]:
# "Q.8  Count the number of records without count function from any table."

win_obj_01 = Window.orderBy("cid")
mid_rec_01 = customer.withColumn('row_number', row_number().over(win_obj_01))
mid_rec_01.select(max('row_number')).show()

+---------------+
|max(row_number)|
+---------------+
|              8|
+---------------+

In [36]:
# "Q.9  Delete duplicate records from 'Ser_det' table on cid.(note Please rollback after execution)."

ser_det.drop_duplicates(['cid']).show()

+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+
| sid| cid| eid|spid|    type_veh|    veh_no|       typ_ser| ser_date|qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+
|6001|1001|3001|4001| TWO WHEELER|MH15CA3228|  TUBE DAMAGED|02-JAN-11|1.0|    250|   250|  35|     50|   0|  335|
|6002|1002|3002|4002| TWO WHEELER| MH16U5713|FULL SERVICING|04-MAR-11|1.0|    400|   400|  52|    300|  50|  752|
|6003|1003|3004|4005| TWO WHEELER|MH12PQ1313|   CLUTCH WIRE|22-AUG-11|1.0|    129|   129|   0|     10|   0|  139|
|6005|1004|3001|4009| TWO WHEELER| MH14PA335|         COLOR|21-OCT-11|2.5|    340|   850| 119|    500| 150| 1469|
|6006|1006|3001|4009| TWO WHEELER| MH12WE334|         COLOR|01-DEC-11|2.5|    340|   850| 119|    500| 150| 1469|
|6007|1007|3001|4001|FOUR WHEELER|MH17BB1345|  TUBE DAMAGED|01-JAN-12|1.0|    250|   250|  35|    150|   0|  435|
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+

In [30]:
# "Q.10 Show the name of Customer who have paid maximum amount."

cust1 = ser_det.join(customer, ser_det["cid"] == customer["cid"], 'inner')
max_total = cust1.groupBy("cname").agg(sum("total")).show(1)

# ser_det.join(customer, "cid").groupBy("cname").agg(sum("total")).show(1)

+----------+----------+
|     cname|sum(total)|
+----------+----------+
|JOHN SMITH|      1504|
+----------+----------+
only showing top 1 row

In [31]:
# "Q.11 Display Employees who are not currently working."

not_working = employee.join(ser_det, employee['eid'] == ser_det['eid'], 'leftanti').show()
# not_working.show()

+----+------------+--------+---------+--------+----+---------+---------+
| eid|       ename|    ejob|     eadd|econtact|esal|     edoj|     edol|
+----+------------+--------+---------+--------+----+---------+---------+
|3003|BRUCE ERENST|MECHANIC|NEW JERCY|10367264|2200|08-SEP-10|   null\t|
|3005| SHERI GOMES|  FITTER|    PARIS|10327264|1000|19-OCT-09|01-AUG-10|
|3000|JAMES PHILIP|  FITTER|    PARIS|10322264|null|01-JAN-08|     null|
+----+------------+--------+---------+--------+----+---------+---------+

In [44]:
## "Q.12 How many customers serviced their two wheelers."

cstw = ser_det.join(customer,'cid').groupBy(col('type_veh')).agg(count(col('cid'))).where(col('type_veh')=='TWO WHEELER').show()
# check if you can eliminate the customer that are counted twice

+-----------+----------+
|   type_veh|count(cid)|
+-----------+----------+
|TWO WHEELER|         6|
+-----------+----------+

In [48]:
# "Q.13 List the Purchased Items which are used for Customer Service with Unit of that Item."

ser_det.join(sparepart,"spid").groupBy("spname").count().show(truncate=False)

+-----------------------+-----+
|spname                 |count|
+-----------------------+-----+
|TWO WHEELER CLUTCH WIRE|1    |
|WHITE COLOUR           |2    |
|TWO WHEELER ENGINE OIL |2    |
|TWO WHEELER TUBE       |2    |
+-----------------------+-----+

In [50]:
# "Q.14 Customers who have Colored their vehicles."

ser_det.join(customer, 'cid').select(customer.cname,ser_det.typ_ser).where(col("typ_ser") == 'COLOR').show()

+------------+-------+
|       cname|typ_ser|
+------------+-------+
|   CHRISTANA|  COLOR|
|KAMILA JOSEF|  COLOR|
+------------+-------+

In [58]:
## "Q.15 Find the annual income of each employee inclusive of Commission"

anual_inc = ser_det.join(employee, ser_det['eid'] == employee['eid'], 'inner')
new = anual_inc.withColumn('annual_income', (employee.esal * 12) + (ser_det.comm * 12))
df = new.select(new.ename, new.annual_income).show()
# try if you can sum the commission a particular employee

+------------+-------------+
|       ename|annual_income|
+------------+-------------+
| STEVEN KING|      14400.0|
| STEVEN KING|      16200.0|
| STEVEN KING|      16200.0|
| STEVEN KING|      14400.0|
|DAVID AUSTIN|       1920.0|
|DAVID AUSTIN|       1920.0|
|    LUIS POP|      20400.0|
+------------+-------------+

In [54]:
# "Q.16 Vendor Names who provides the engine oil."

provider_01 = vendor.join(purchase,'vid').where(col('spid') == 4002 | 4003)
provider_01.select(provider_01.vname).show()

# vendor.join(purchase, 'vid').where(col('spid') == 4002 | 4003).select('vname').show()

# vendor.join(purchase, 'vid').where(col('spid') == 4002 | 4003).select(vendor.vname).show()

+-----------+
|      vname|
+-----------+
|KIRAN PATIL|
+-----------+

In [55]:
# "Q.17 Total Cost to purchase the Color and name the color purchased."

sparepart.join(purchase, 'spid').filter((purchase.spid == 4009) | (purchase.spid == 4010) ).select(sparepart.spname,purchase.total).show()

+------------+------+
|      spname| total|
+------------+------+
|WHITE COLOUR|2938.0|
+------------+------+

In [56]:
# "Q.18 Purchased Items which are not used in 'Ser_det'."

not_used = purchase.join(ser_det, 'spid', 'anti').show()

+----+----+----+----+------+-------+---------+---------+--------+-------+
|spid| pid| vid|pqty|sprate|  spgst|    pdate|transcost|   total|rcv_eid|
+----+----+----+----+------+-------+---------+---------+--------+-------+
|4004|5003|2003|   8|   680|  761.6|12-JUN-11|       50|  6251.6|   3003|
|4006|5005|2005|  20|   100|  300.0|07-SEP-11|       20|  2320.0|   3003|
|4007|5006|2006|  30|   150|  630.0|11-OCT-11|       60|  5190.0|   3000|
|4003|5007|2001|  20|  5000|14000.0|07-SEP-11|     1000|115000.0|   3000|
+----+----+----+----+------+-------+---------+---------+--------+-------+

In [57]:
# "Q.19 Spare Parts Not Purchased but existing in Spare part"

not_purchased = sparepart.join(purchase, 'spid', 'anti').show(truncate=False)

+----+------------------------+------+------+
|spid|spname                  |sprate|spunit|
+----+------------------------+------+------+
|4008|FOUR WHEELER GASKIT     |1340  |NOS   |
|4010|BLACK COLOUR            |240   |LTRS  |
|4011|TWO WHEELER SIDE MIRROR |250   |NOS   |
|4012|FOUR WHEELER SIDE MIRROR|450   |NOS   |
|4013|TWO WHEELER SHOCKUP     |1320  |PAIR  |
|4014|FOUR WHEELER BUMPER     |6000  |NOS   |
|4015|FOUR WHEELER FRONT GLASS|7000  |PCS   |
+----+------------------------+------+------+

In [98]:
## "Q.20 Calculate the Profit/Loss of the Firm. Consider one month salary of each employee for Calculation."

pl = ser_det.join(employee, 'eid').groupBy('ename').agg(sum(col('esal') - col('total')).alias("profit_or_loss")).show()
# try to show the total sum of profit or loss

+------------+--------------+
|       ename|profit_or_loss|
+------------+--------------+
|    LUIS POP|        1561.0|
| STEVEN KING|        1092.0|
|DAVID AUSTIN|       -1284.0|
+------------+--------------+

In [48]:
# "Q.21 Specify the names of customers who have serviced their vehicles more than one time."

count_cust = customer.join(ser_det, 'cid').groupBy(customer.cname, customer.cid).agg(count(ser_det.cid).alias("serve_count"))
service_count = count_cust.select(count_cust.cname, count_cust.serve_count).where(count_cust.serve_count > 1).show()
# count_cust = customer.join(ser_det, 'cid').groupBy(customer.cname, customer.cid).agg(count(ser_det.cid).alias("serve_count"))
# service_count = count_cust.select(customer.cname, count_cust.serve_count).where(count_cust.serve_count > 1).show()

+----------+-----------+
|     cname|serve_count|
+----------+-----------+
|JOHN SMITH|          2|
+----------+-----------+

In [64]:
# "Q.22 List the Items purchased from vendors locationwise."

items_01 = purchase.join(vendor, purchase["vid"] == vendor["vid"]).join(sparepart,sparepart["spid"] == purchase["spid"])
items_02 = items_01.orderBy(desc("vadd")).select(vendor.vadd, sparepart.spname).show(truncate=False)

# purchase.join(vendor,"vid").join(sparepart,"spid").orderBy(desc("vadd")).select(vendor.vadd,sparepart.spname).show(truncate=False)

+---------+-----------------------+
|vadd     |spname                 |
+---------+-----------------------+
|SATARA   |TWO WHEELER CLUTCH WIRE|
|PUNE     |TWO WHEELER TUBE       |
|PUNE     |FOUR WHEELER ENGINE OIL|
|OSMANABAD|TWO WHEELER CLUTCH WIRE|
|OSMANABAD|WHITE COLOUR           |
|OSMANABAD|TWO WHEELER INDICATORS |
|OSMANABAD|TWO WHEELER CLUTCH WIRE|
|NASHIK   |TWO WHEELER CARBORATOR |
|MUNBAI   |TWO WHEELER ENGINE OIL |
|BULDHANA |TWO WHEELER TAIIL LIGHT|
+---------+-----------------------+

In [65]:
# "Q.23 Display count of two wheeler and four wheeler from ser_det table"

ser_det.groupBy(ser_det.type_veh).agg(count(ser_det.type_veh)).show()

+------------+---------------+
|    type_veh|count(type_veh)|
+------------+---------------+
| TWO WHEELER|              6|
|FOUR WHEELER|              1|
+------------+---------------+

In [67]:
# "Q24 Display name of customers who paid highest SPGST and for which item "

customer.join(ser_det,'cid').orderBy(col('sp_g')).limit(1).show()

+----+-----------+----+-------+----------+---------+------+----+----+----+-----------+----------+-----------+---------+---+-------+------+----+-------+----+-----+
| cid|      cname|cadd|contact|creditdays|     date|gender| sid| eid|spid|   type_veh|    veh_no|    typ_ser| ser_date|qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|
+----+-----------+----+-------+----------+---------+------+----+----+----+-----------+----------+-----------+---------+---+-------+------+----+-------+----+-----+
|1003|JORDEN WOOD|PRAG|1805184|        20|22-MAR-11|  male|6003|3004|4005|TWO WHEELER|MH12PQ1313|CLUTCH WIRE|22-AUG-11|1.0|    129|   129|   0|     10|   0|  139|
+----+-----------+----+-------+----------+---------+------+----+----+----+-----------+----------+-----------+---------+---+-------+------+----+-------+----+-----+

In [70]:
# "Q25 Display vendors name who have charged highest SPGST rate for which item"

ser_det.join(customer, 'cid').join(purchase, "spid").join(vendor,"vid").join(sparepart,'spid').orderBy(col('sp_g')).limit(1).select(vendor.vname,sparepart.spname).show(truncate=False)

+------------+-----------------------+
|vname       |spname                 |
+------------+-----------------------+
|RAM KULKARNI|TWO WHEELER CLUTCH WIRE|
+------------+-----------------------+

In [71]:
# "Q26 list name of item and employee name who have received item "

ser_det.join(employee, "eid").join(sparepart, "spid").select(sparepart.spname,employee.ename).show(truncate=False)

+-----------------------+------------+
|spname                 |ename       |
+-----------------------+------------+
|TWO WHEELER TUBE       |STEVEN KING |
|WHITE COLOUR           |STEVEN KING |
|WHITE COLOUR           |STEVEN KING |
|TWO WHEELER TUBE       |STEVEN KING |
|TWO WHEELER ENGINE OIL |DAVID AUSTIN|
|TWO WHEELER ENGINE OIL |DAVID AUSTIN|
|TWO WHEELER CLUTCH WIRE|LUIS POP    |
+-----------------------+------------+

In [72]:
# Q27 Display the Name and Vehicle Number of Customer who serviced his vehicle, And Name the Item used for Service, 
    # And specify the purchase date of that Item with his vendor and Item Unit and Location, 
    
dv = ser_det.join(customer,'cid').join(sparepart,'spid').join(purchase,'spid').join(vendor,'vid')
dv.select(customer.cname, ser_det.veh_no,sparepart.spname, purchase.pqty,purchase.pdate,vendor.vadd).show(truncate=False)

+------------+----------+-----------------------+----+---------+---------+
|cname       |veh_no    |spname                 |pqty|pdate    |vadd     |
+------------+----------+-----------------------+----+---------+---------+
|cyona blake |MH15CA3228|TWO WHEELER TUBE       |10  |01-JAN-11|PUNE     |
|JOHN SMITH  |MH16U5713 |TWO WHEELER ENGINE OIL |4   |02-MAR-11|MUNBAI   |
|JORDEN WOOD |MH12PQ1313|TWO WHEELER CLUTCH WIRE|1   |15-OCT-11|OSMANABAD|
|JORDEN WOOD |MH12PQ1313|TWO WHEELER CLUTCH WIRE|1   |12-OCT-11|OSMANABAD|
|JORDEN WOOD |MH12PQ1313|TWO WHEELER CLUTCH WIRE|10  |22-AUG-11|SATARA   |
|JOHN SMITH  |MH16U5713 |TWO WHEELER ENGINE OIL |4   |02-MAR-11|MUNBAI   |
|CHRISTANA   |MH14PA335 |WHITE COLOUR           |5   |20-OCT-11|OSMANABAD|
|KAMILA JOSEF|MH12WE334 |WHITE COLOUR           |5   |20-OCT-11|OSMANABAD|
|ANDRU SYMON |MH17BB1345|TWO WHEELER TUBE       |10  |01-JAN-11|PUNE     |
+------------+----------+-----------------------+----+---------+---------+

In [73]:
# And employee Name who serviced the vehicle. for Vehicle NUMBER "MH14PA335".

dv1 = ser_det.join(customer,'cid').join(sparepart,'spid').join(purchase,'spid').join(vendor,'vid')
dv1.select(customer.cname, ser_det.veh_no,sparepart.spname, purchase.pqty,purchase.pdate,vendor.vadd).where(ser_det.veh_no == 'MH14PA335').show(truncate=False)

+---------+---------+------------+----+---------+---------+
|cname    |veh_no   |spname      |pqty|pdate    |vadd     |
+---------+---------+------------+----+---------+---------+
|CHRISTANA|MH14PA335|WHITE COLOUR|5   |20-OCT-11|OSMANABAD|
+---------+---------+------------+----+---------+---------+

In [74]:
# """Q28 who belong this vehicle MH14PA335" Display the customer name """

ser_det.join(customer,"cid").where(col("veh_no")=="MH14PA335").select(customer.cname).show()

+---------+
|    cname|
+---------+
|CHRISTANA|
+---------+

In [75]:
# "Q29 Display the name of customer who belongs to New York and when he /she service their vehicle on which date"

customer.join(ser_det,"cid").where(col("cadd")=="NEW YORK").select(customer.cname,ser_det.ser_date).show()

+-----------+---------+
|      cname| ser_date|
+-----------+---------+
|cyona blake|02-JAN-11|
+-----------+---------+

In [77]:
# "Q 30 from whom we have purchased items having maximum cost?"

purchase.join(vendor,'vid').orderBy(desc('total')).limit(1).select(vendor.vname,purchase.total).show()

+-----------+--------+
|      vname|   total|
+-----------+--------+
|KIRAN PATIL|115000.0|
+-----------+--------+

In [79]:
# "Q31 Display the names of employees who are not working as Mechanic and that employee done services."

employee.join(ser_det,'eid').where(col('ejob')!="MECHANIC").select(employee.ename,ser_det.typ_ser).show()

+------------+--------------+
|       ename|       typ_ser|
+------------+--------------+
| STEVEN KING|  TUBE DAMAGED|
|DAVID AUSTIN|FULL SERVICING|
|DAVID AUSTIN|FULL SERVICING|
| STEVEN KING|         COLOR|
| STEVEN KING|         COLOR|
| STEVEN KING|  TUBE DAMAGED|
+------------+--------------+

In [80]:
# "Q32 Display the various jobs along with total number of employees in each job. The output should contain only those jobs with more than two employees."

no_of_job = employee.groupBy(employee.ejob).agg(count(employee.ejob).alias('count_ejob'))
no_of_job.select(employee.ejob, no_of_job.count_ejob).where(col('count_ejob') > 1).show()

+--------+----------+
|    ejob|count_ejob|
+--------+----------+
|MECHANIC|         2|
|  FITTER|         3|
+--------+----------+

In [83]:
### Q33 Display the details of employees who done service and give them rank according to their no. of services .

step_01 = employee.join(ser_det,'eid')
step_02 = step_01.groupBy(ser_det.eid,employee.ename).agg(count(ser_det.eid).alias('emp_count01'))
win_obj_09 = Window.orderBy(desc(col('emp_count01')))
step_02.withColumn('denr',dense_rank().over(win_obj_09)).show()

+----+------------+-----------+----+
| eid|       ename|emp_count01|denr|
+----+------------+-----------+----+
|3001| STEVEN KING|          4|   1|
|3002|DAVID AUSTIN|          2|   2|
|3004|    LUIS POP|          1|   3|
+----+------------+-----------+----+

In [84]:
# Q 34 Display those employees who are working as Painter and fitter and who provide service and total count of service done by fitter and painter 

service_type = employee.join(ser_det,'eid').groupBy(employee.ename, employee.ejob).agg(count(col('typ_ser')).alias('counting'))
service_type.select(employee.ename, employee.ejob).where((col('ejob') == 'PAINTER') | (col('ejob') == 'FITTER')).show()

+------------+-------+
|       ename|   ejob|
+------------+-------+
| STEVEN KING|PAINTER|
|DAVID AUSTIN| FITTER|
+------------+-------+

In [85]:
# Q35 Display employee salary and as per highest salary provide Grade to employee 

df_grade = employee.withColumn('Grading', when(col('esal') > 1700, 'Grade A')
                           .when((col('esal') <= 1700) & (col('esal') > 1500), 'Grade B')
                           .when((col('esal') <= 1500) & (col('esal') > 1000), 'Grade C')
                           .when((col('esal') <= 1000) & (col('esal') > 500), 'Grade D')
                           .otherwise('Grade E'))
df_grade.orderBy(desc('esal')).show(truncate=False)

+----+------------+--------+---------+--------+----+---------+---------+-------+
|eid |ename       |ejob    |eadd     |econtact|esal|edoj     |edol     |Grading|
+----+------------+--------+---------+--------+----+---------+---------+-------+
|3000|JAMES PHILIP|FITTER  |PARIS    |10322264|null|01-JAN-08|null     |Grade E|
|3003|BRUCE ERENST|MECHANIC|NEW JERCY|10367264|2200|08-SEP-10|null\t   |Grade A|
|3004|LUIS POP    |MECHANIC|NEW JERCY|10367264|1700|19-OCT-19|06-SEP-10|Grade B|
|3001|STEVEN KING |PAINTER |NEW YORK |10367454|1200|01-JAN-08|null     |Grade C|
|3002|DAVID AUSTIN|FITTER  |MANAHTON |10367434|110 |19-AUG-10|null     |Grade E|
|3005|SHERI GOMES |FITTER  |PARIS    |10327264|1000|19-OCT-09|01-AUG-10|Grade D|
+----+------------+--------+---------+--------+----+---------+---------+-------+

In [86]:
# Q36 display the 4th record of emp table without using group by and rowid

rec_04 = Window.orderBy(asc('eid'))
employee.withColumn('row_number', row_number().over(rec_04)).where(col('row_number') == 4).show()

+----+------------+--------+---------+--------+----+---------+------+----------+
| eid|       ename|    ejob|     eadd|econtact|esal|     edoj|  edol|row_number|
+----+------------+--------+---------+--------+----+---------+------+----------+
|3003|BRUCE ERENST|MECHANIC|NEW JERCY|10367264|2200|08-SEP-10|null\t|         4|
+----+------------+--------+---------+--------+----+---------+------+----------+

In [87]:
# Q37 Provide a commission 100 to employees who are not earning any commission.

commission = ser_det.withColumn('New_Commission', when(col('comm').isNull() | (col('comm') == 0), 100).otherwise(col('comm'))).show(truncate=False)

+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+--------------+
|sid |cid |eid |spid|type_veh    |veh_no    |typ_ser       |ser_date |qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|New_Commission|
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+--------------+
|6001|1001|3001|4001|TWO WHEELER |MH15CA3228|TUBE DAMAGED  |02-JAN-11|1.0|250    |250   |35  |50     |0   |335  |100           |
|6002|1002|3002|4002|TWO WHEELER |MH16U5713 |FULL SERVICING|04-MAR-11|1.0|400    |400   |52  |300    |50  |752  |50            |
|6003|1003|3004|4005|TWO WHEELER |MH12PQ1313|CLUTCH WIRE   |22-AUG-11|1.0|129    |129   |0   |10     |0   |139  |100           |
|6004|1002|3002|4002|TWO WHEELER |MH16U5713 |FULL SERVICING|05-MAY-11|1.0|400    |400   |52  |300    |50  |752  |50            |
|6005|1004|3001|4009|TWO WHEELER |MH14PA335 |COLOR         |21-OCT-11|2.5|340    |850   |119 |500    |150 |1469 |150           |
|6006|1006|3001|4009|TWO WHEELER |MH12WE334 |COLOR         |01-DEC-11|2.5|340    |850   |119 |500    |150 |1469 |150           |
|6007|1007|3001|4001|FOUR WHEELER|MH17BB1345|TUBE DAMAGED  |01-JAN-12|1.0|250    |250   |35  |150    |0   |435  |100           |
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+--------------+

In [88]:
# Q38 write a query that totals no. of services for each day and place the results in descending order

ser_det.groupBy(ser_det.ser_date).agg(count(ser_det.ser_date).alias('per day service')).show()

+---------+---------------+
| ser_date|per day service|
+---------+---------------+
|05-MAY-11|              1|
|22-AUG-11|              1|
|02-JAN-11|              1|
|21-OCT-11|              1|
|04-MAR-11|              1|
|01-JAN-12|              1|
|01-DEC-11|              1|
+---------+---------------+

In [89]:
# Q39 Display the service details of those customer who belong from same city as that of respective employee. #####

city = ser_det.join(employee,'eid').join(customer, 'cid')
same_city = city.select(customer.cname, customer.cadd, ser_det.veh_no, ser_det.typ_ser, ser_det.type_veh).where(employee.eadd == customer.cadd).show(truncate=False)

+-----------+--------+----------+------------+-----------+
|cname      |cadd    |veh_no    |typ_ser     |type_veh   |
+-----------+--------+----------+------------+-----------+
|cyona blake|NEW YORK|MH15CA3228|TUBE DAMAGED|TWO WHEELER|
+-----------+--------+----------+------------+-----------+

In [67]:
# Q40 write a query join customers table to itself to find all pairs of customers service by a single employee.

In [90]:
# Q41 List each service number follow by name of the customer who made that service

customer.join(ser_det,'cid').select(customer.cname, ser_det.sid).show()

+------------+----+
|       cname| sid|
+------------+----+
| cyona blake|6001|
|  JOHN SMITH|6004|
|  JOHN SMITH|6002|
| JORDEN WOOD|6003|
|   CHRISTANA|6005|
|KAMILA JOSEF|6006|
| ANDRU SYMON|6007|
+------------+----+

In [91]:
# Q42 Write a query to get details of employee and provide rating on basis of maximum services provide by employee.Note (rating should be like A,B,C,D)

emp_abcd = ser_det.join(employee,'eid').groupBy(employee.eid,employee.ename,employee.esal,employee.eadd).agg(count(ser_det.eid).alias('serv_count'))
emp_rating = emp_abcd.withColumn('Rating',when(col('serv_count')>3,'A').when(col('serv_count')>=2,'B').otherwise('C'))
emp_rating.orderBy(asc('Rating')).show()

+----+------------+----+---------+----------+------+
| eid|       ename|esal|     eadd|serv_count|Rating|
+----+------------+----+---------+----------+------+
|3001| STEVEN KING|1200| NEW YORK|         4|     A|
|3002|DAVID AUSTIN| 110| MANAHTON|         2|     B|
|3004|    LUIS POP|1700|NEW JERCY|         1|     C|
+----+------------+----+---------+----------+------+

In [92]:
# Q43 Write a query to get maximum service amount of each customer with their customer details?

customer.join(ser_det,'cid').groupBy(customer.cid,customer.cname,customer.cadd).agg(sum(ser_det.total).alias('cus_amt')).show()

+----+------------+---------+-------+
| cid|       cname|     cadd|cus_amt|
+----+------------+---------+-------+
|1001| cyona blake| NEW YORK|    335|
|1002|  JOHN SMITH|NEW JERSI|   1504|
|1007| ANDRU SYMON|    TEXAS|    435|
|1004|   CHRISTANA|MANHATTON|   1469|
|1006|KAMILA JOSEF|   PRAISE|   1469|
|1003| JORDEN WOOD|     PRAG|    139|
+----+------------+---------+-------+

In [99]:
# Q44 Get the details of customers with his total no of services ?

customer.join(ser_det,'cid').groupBy(customer.cid,customer.cname,customer.cadd).agg(count(ser_det.cid).alias('cus_amt')).show()

+----+------------+---------+-------+
| cid|       cname|     cadd|cus_amt|
+----+------------+---------+-------+
|1001| cyona blake| NEW YORK|      1|
|1002|  JOHN SMITH|NEW JERSI|      2|
|1007| ANDRU SYMON|    TEXAS|      1|
|1004|   CHRISTANA|MANHATTON|      1|
|1006|KAMILA JOSEF|   PRAISE|      1|
|1003| JORDEN WOOD|     PRAG|      1|
+----+------------+---------+-------+

In [101]:
# Q45 From which location sparepart purchased with highest cost ?

purchase.join(vendor, 'vid').join(sparepart,'spid').orderBy(desc('total')).limit(1).select(vendor.vname,vendor.vadd,sparepart.sprate).show()

+-----------+----+------+
|      vname|vadd|sprate|
+-----------+----+------+
|KIRAN PATIL|PUNE|  5000|
+-----------+----+------+

In [102]:
# Q46 Get the details of employee with their service details who has salary is null

employee.join(ser_det,"eid").where(employee.esal=="null").select(employee.ename,ser_det.typ_ser).show() # is correct

+-----+-------+
|ename|typ_ser|
+-----+-------+
+-----+-------+

In [103]:
# Q47 find the sum of purchase location wise 

purchase.join(vendor, 'vid').groupBy(col('vadd')).agg(sum('total')).show()

+---------+----------+
|     vadd|sum(total)|
+---------+----------+
| BULDHANA|    2320.0|
|   MUNBAI|    1988.0|
|   NASHIK|    6251.6|
|OSMANABAD|   8516.96|
|     PUNE|  119150.0|
|   SATARA|    1569.8|
+---------+----------+

In [75]:
# Q48 write a query sum of purchase amount in word location wise ?

In [104]:
### Q49 Has the customer who has spent the largest amount money has been give highest rating

cplm = customer.join(ser_det,'cid').groupBy(customer.cid,customer.cname,customer.cadd).agg(sum(ser_det.total).alias('cus_amt'))
c_rate01 = Window.orderBy(asc('cus_amt'))
c_rate02 = cplm.withColumn('row_number', row_number().over(c_rate01))
c_rate02.withColumn('CR',when(col('row_number')==1,'A')
                    .when(col('row_number')==2,'B')
                    .when(col('row_number')==3,'C')
                    .when(col('row_number')==4,'D')
                    .when(col('row_number')==5,'E')
                   .otherwise('F')).show()

+----+------------+---------+-------+----------+---+
| cid|       cname|     cadd|cus_amt|row_number| CR|
+----+------------+---------+-------+----------+---+
|1003| JORDEN WOOD|     PRAG|    139|         1|  A|
|1001| cyona blake| NEW YORK|    335|         2|  B|
|1007| ANDRU SYMON|    TEXAS|    435|         3|  C|
|1004|   CHRISTANA|MANHATTON|   1469|         4|  D|
|1006|KAMILA JOSEF|   PRAISE|   1469|         5|  E|
|1002|  JOHN SMITH|NEW JERSI|   1504|         6|  F|
+----+------------+---------+-------+----------+---+

In [105]:
# Q50 select the total amount in service for each customer for which the total is greater than the amount of the largest service amount in the table

ctst = customer.join(ser_det,'cid').groupBy(customer.cid,customer.cname,customer.cadd).agg(sum(ser_det.total).alias('cus_amt'))
ctst.where(col('cus_amt')>max(ser_det.total)).show()

+----+----------+---------+-------+
| cid|     cname|     cadd|cus_amt|
+----+----------+---------+-------+
|1002|JOHN SMITH|NEW JERSI|   1504|
+----+----------+---------+-------+

In [106]:
# Q51 List the customer name and sparepart name used for their vehicle and vehicle type

opp_01 = ser_det.join(customer,"cid").join(sparepart,"spid")
opp_01.select(customer.cname,sparepart.spname,ser_det.type_veh).show(truncate=False)

+------------+-----------------------+------------+
|cname       |spname                 |type_veh    |
+------------+-----------------------+------------+
|cyona blake |TWO WHEELER TUBE       |TWO WHEELER |
|JOHN SMITH  |TWO WHEELER ENGINE OIL |TWO WHEELER |
|JORDEN WOOD |TWO WHEELER CLUTCH WIRE|TWO WHEELER |
|JOHN SMITH  |TWO WHEELER ENGINE OIL |TWO WHEELER |
|CHRISTANA   |WHITE COLOUR           |TWO WHEELER |
|KAMILA JOSEF|WHITE COLOUR           |TWO WHEELER |
|ANDRU SYMON |TWO WHEELER TUBE       |FOUR WHEELER|
+------------+-----------------------+------------+

In [107]:
# Q52 Write a query to get spname ,ename,cname quantity ,rate ,service amount for record exist in service table

result01 = ser_det.join(customer,customer["cid"]==ser_det["cid"],"inner").join(employee,employee["eid"]==ser_det["eid"],"inner")\
    .join(sparepart,sparepart["spid"]==ser_det["spid"],"inner")
result01.select(customer.cname,ser_det.qty,ser_det.sp_rate,employee.ename,sparepart.spname).show()

# result_01 = ser_det.join(customer, "cid").join(employee, "eid").join(sparepart, "spid")
# result_01.select(customer.cname, ser_det.qty, ser_det.sp_rate, employee.ename, sparepart.spname).show()

+------------+---+-------+------------+--------------------+
|       cname|qty|sp_rate|       ename|              spname|
+------------+---+-------+------------+--------------------+
| cyona blake|1.0|    250| STEVEN KING|    TWO WHEELER TUBE|
|  JOHN SMITH|1.0|    400|DAVID AUSTIN|TWO WHEELER ENGIN...|
| JORDEN WOOD|1.0|    129|    LUIS POP|TWO WHEELER CLUTC...|
|  JOHN SMITH|1.0|    400|DAVID AUSTIN|TWO WHEELER ENGIN...|
|   CHRISTANA|2.5|    340| STEVEN KING|        WHITE COLOUR|
|KAMILA JOSEF|2.5|    340| STEVEN KING|        WHITE COLOUR|
| ANDRU SYMON|1.0|    250| STEVEN KING|    TWO WHEELER TUBE|
+------------+---+-------+------------+--------------------+

In [109]:
# Q53 specify the vehicles owners whos tube damaged.

customer.join(ser_det, "cid").select(customer.cname,ser_det.typ_ser).where(col("typ_ser") == "TUBE DAMAGED").show()

+-----------+------------+
|      cname|     typ_ser|
+-----------+------------+
|cyona blake|TUBE DAMAGED|
|ANDRU SYMON|TUBE DAMAGED|
+-----------+------------+

In [111]:
# Q.54 Specify the details who have taken full service. ####

customer.join(ser_det,"cid").select(customer.cname,ser_det.typ_ser).where(col("typ_ser")=="FULL SERVICING").show()

+----------+--------------+
|     cname|       typ_ser|
+----------+--------------+
|JOHN SMITH|FULL SERVICING|
|JOHN SMITH|FULL SERVICING|
+----------+--------------+

In [112]:
# Q.55 Select the employees who have not worked yet and left the job.

employee.join(ser_det,"eid","anti").where(col("edol")!="null").show()

+----+------------+--------+---------+--------+----+---------+---------+
| eid|       ename|    ejob|     eadd|econtact|esal|     edoj|     edol|
+----+------------+--------+---------+--------+----+---------+---------+
|3003|BRUCE ERENST|MECHANIC|NEW JERCY|10367264|2200|08-SEP-10|   null\t|
|3005| SHERI GOMES|  FITTER|    PARIS|10327264|1000|19-OCT-09|01-AUG-10|
+----+------------+--------+---------+--------+----+---------+---------+

In [113]:
# Q.56 Select employee who have worked first ever.

employee.orderBy(col('ejob')).limit(1).show()

# employee.orderBy(col('ejob')).show(1)

+----+------------+------+--------+--------+----+---------+----+
| eid|       ename|  ejob|    eadd|econtact|esal|     edoj|edol|
+----+------------+------+--------+--------+----+---------+----+
|3002|DAVID AUSTIN|FITTER|MANAHTON|10367434| 110|19-AUG-10|null|
+----+------------+------+--------+--------+----+---------+----+

In [116]:
# Q.57 Display all records falling in odd date

ser_da = ser_det.withColumn('ser_date_1',to_date(col('ser_date'),'dd-MMM-yy'))
odd_date = ser_da.filter(dayofmonth('ser_date_1') % 2 != 0)
odd_date.show()

+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+----------+
| sid| cid| eid|spid|    type_veh|    veh_no|       typ_ser| ser_date|qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|ser_date_1|
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+----------+
|6004|1002|3002|4002| TWO WHEELER| MH16U5713|FULL SERVICING|05-MAY-11|1.0|    400|   400|  52|    300|  50|  752|2011-05-05|
|6005|1004|3001|4009| TWO WHEELER| MH14PA335|         COLOR|21-OCT-11|2.5|    340|   850| 119|    500| 150| 1469|2011-10-21|
|6006|1006|3001|4009| TWO WHEELER| MH12WE334|         COLOR|01-DEC-11|2.5|    340|   850| 119|    500| 150| 1469|2011-12-01|
|6007|1007|3001|4001|FOUR WHEELER|MH17BB1345|  TUBE DAMAGED|01-JAN-12|1.0|    250|   250|  35|    150|   0|  435|2012-01-01|
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+----------+

In [117]:
# Q.58 Display all records falling in even date.

ser_da2 = ser_det.withColumn('ser_date_2', to_date(col('ser_date'), 'dd-MMM-yy'))
even_date = ser_da2.filter(dayofmonth('ser_date_2') % 2 == 0)
even_date.show()

+----+----+----+----+-----------+----------+--------------+---------+---+-------+------+----+-------+----+-----+----------+
| sid| cid| eid|spid|   type_veh|    veh_no|       typ_ser| ser_date|qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|ser_date_2|
+----+----+----+----+-----------+----------+--------------+---------+---+-------+------+----+-------+----+-----+----------+
|6001|1001|3001|4001|TWO WHEELER|MH15CA3228|  TUBE DAMAGED|02-JAN-11|1.0|    250|   250|  35|     50|   0|  335|2011-01-02|
|6002|1002|3002|4002|TWO WHEELER| MH16U5713|FULL SERVICING|04-MAR-11|1.0|    400|   400|  52|    300|  50|  752|2011-03-04|
|6003|1003|3004|4005|TWO WHEELER|MH12PQ1313|   CLUTCH WIRE|22-AUG-11|1.0|    129|   129|   0|     10|   0|  139|2011-08-22|
+----+----+----+----+-----------+----------+--------------+---------+---+-------+------+----+-------+----+-----+----------+

In [118]:
# Q.59 Display the vendors whose material is not yet used.

purchase.join(ser_det,"spid").join(vendor,"vid","anti").show()

+---+----+---+----+------+-----+-----+---------+-----+-------+---+---+---+--------+------+-------+--------+---+-------+------+----+-------+----+-----+
|vid|spid|pid|pqty|sprate|spgst|pdate|transcost|total|rcv_eid|sid|cid|eid|type_veh|veh_no|typ_ser|ser_date|qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|
+---+----+---+----+------+-----+-----+---------+-----+-------+---+---+---+--------+------+-------+--------+---+-------+------+----+-------+----+-----+
+---+----+---+----+------+-----+-----+---------+-----+-------+---+---+---+--------+------+-------+--------+---+-------+------+----+-------+----+-----+

In [119]:
# Q.60 Difference between purchase date and used date of spare part.

diffdates_01 = purchase.join(ser_det,'spid')
colnu21 = diffdates_01.withColumn("diffdat",datediff(to_date("ser_date", 'dd-MMM-yy'), to_date("pdate", 'dd-MMM-yy'))).show()#####

+----+----+----+----+------+-----+---------+---------+------+-------+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+-------+
|spid| pid| vid|pqty|sprate|spgst|    pdate|transcost| total|rcv_eid| sid| cid| eid|    type_veh|    veh_no|       typ_ser| ser_date|qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|diffdat|
+----+----+----+----+------+-----+---------+---------+------+-------+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+-------+
|4001|5001|2001|  10|   250|350.0|01-JAN-11|     1300|4150.0|   3001|6001|1001|3001| TWO WHEELER|MH15CA3228|  TUBE DAMAGED|02-JAN-11|1.0|    250|   250|  35|     50|   0|  335|      1|
|4002|5002|2002|   4|   400|288.0|02-MAR-11|      100|1988.0|   3001|6002|1002|3002| TWO WHEELER| MH16U5713|FULL SERVICING|04-MAR-11|1.0|    400|   400|  52|    300|  50|  752|      2|
|4005|5009|2006|   1|   129|15.48|15-OCT-11|       50|194.48|   3005|6003|1003|3004| TWO WHEELER|MH12PQ1313|   CLUTCH WIRE|22-AUG-11|1.0|    129|   129|   0|     10|   0|  139|    -54|
|4005|5008|2006|   1|   129|15.48|12-OCT-11|       50|194.48|   3005|6003|1003|3004| TWO WHEELER|MH12PQ1313|   CLUTCH WIRE|22-AUG-11|1.0|    129|   129|   0|     10|   0|  139|    -51|
|4005|5004|2004|  10|   129|154.8|22-AUG-11|      125|1569.8|   3004|6003|1003|3004| TWO WHEELER|MH12PQ1313|   CLUTCH WIRE|22-AUG-11|1.0|    129|   129|   0|     10|   0|  139|      0|
|4002|5002|2002|   4|   400|288.0|02-MAR-11|      100|1988.0|   3001|6004|1002|3002| TWO WHEELER| MH16U5713|FULL SERVICING|05-MAY-11|1.0|    400|   400|  52|    300|  50|  752|     64|
|4009|5010|2006|   5|   340|238.0|20-OCT-11|        0|2938.0|   3005|6005|1004|3001| TWO WHEELER| MH14PA335|         COLOR|21-OCT-11|2.5|    340|   850| 119|    500| 150| 1469|      1|
|4009|5010|2006|   5|   340|238.0|20-OCT-11|        0|2938.0|   3005|6006|1006|3001| TWO WHEELER| MH12WE334|         COLOR|01-DEC-11|2.5|    340|   850| 119|    500| 150| 1469|     42|
|4001|5001|2001|  10|   250|350.0|01-JAN-11|     1300|4150.0|   3001|6007|1007|3001|FOUR WHEELER|MH17BB1345|  TUBE DAMAGED|01-JAN-12|1.0|    250|   250|  35|    150|   0|  435|    365|
+----+----+----+----+------+-----+---------+---------+------+-------+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+-------+