In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master("local[*]").appName("garage").getOrCreate()
customer = spark.read.csv(r"customer.csv", header=True, inferSchema=True)
ser_det = spark.read.csv(r"ser_det.csv", header=True, inferSchema=True)
employee = spark.read.csv(r"employee.csv", header=True, inferSchema=True)
sparepart = spark.read.csv(r"sparepart.csv", header=True, inferSchema=True)
purchase = spark.read.csv(r"purchase.csv", header=True, inferSchema=True)
vendor = spark.read.csv(r"vendors.csv", header=True, inferSchema=True)

In [4]:
print("\n--------------Customer_Table----------------------\n")
customer.show(truncate=False)
print("\n--------------Ser_det_Table----------------------\n")
ser_det.show(truncate=False)
print("\n--------------Employee_Table----------------------\n")
employee.show(truncate=False)
print("\n--------------Sparepart_Table----------------------\n")
sparepart.show(truncate=False)
print("\n--------------Purchase_Table----------------------\n")
purchase.show(truncate=False)
print("\n--------------Vendor_Table----------------------\n")
vendor.show(truncate=False)

--------------Customer_Table----------------------

+----+-------------+---------+--------+----------+---------+------+
|cid |cname        |cadd     |contact |creditdays|date     |gender|
+----+-------------+---------+--------+----------+---------+------+
|1001|cyona blake  |NEW YORK |12345684|20        |20-JAN-11|female|
|1002|JOHN SMITH   |NEW JERSI|1341684 |20        |21-FEB-11|male  |
|1003|JORDEN WOOD  |PRAG     |1805184 |20        |22-MAR-11|male  |
|1004|CHRISTANA    |MANHATTON|1125684 |31        |23-APR-13|female|
|1005|TOM HILL     |LONDON   |1239284 |10        |25-JUN-15|male  |
|1006|KAMILA JOSEF |PRAISE   |124568  |9         |28-JUL-11|female|
|1007|ANDRU SYMON  |TEXAS    |125654  |15        |01-APR-16|male  |
|1008|SANJU SAMSUNG|NEW YORK |12346341|4         |20-JAN-16|male  |
+----+-------------+---------+--------+----------+---------+------+


--------------Ser_det_Table----------------------

+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+
|sid |cid |eid |spid|type_veh    |veh_no    |typ_ser       |ser_date |qty|sp_rate|sp_amt|sp_g|ser_amt|comm|total|
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+
|6001|1001|3001|4001|TWO WHEELER |MH15CA3228|TUBE DAMAGED  |02-JAN-11|1.0|250    |250   |35  |50     |0   |335  |
|6002|1002|3002|4002|TWO WHEELER |MH16U5713 |FULL SERVICING|04-MAR-11|1.0|400    |400   |52  |300    |50  |752  |
|6003|1003|3004|4005|TWO WHEELER |MH12PQ1313|CLUTCH WIRE   |22-AUG-11|1.0|129    |129   |0   |10     |0   |139  |
|6004|1002|3002|4002|TWO WHEELER |MH16U5713 |FULL SERVICING|05-MAY-11|1.0|400    |400   |52  |300    |50  |752  |
|6005|1004|3001|4009|TWO WHEELER |MH14PA335 |COLOR         |21-OCT-11|2.5|340    |850   |119 |500    |150 |1469 |
|6006|1006|3001|4009|TWO WHEELER |MH12WE334 |COLOR         |01-DEC-11|2.5|340    |850   |119 |500    |150 |1469 |
|6007|1007|3001|4001|FOUR WHEELER|MH17BB1345|TUBE DAMAGED  |01-JAN-12|1.0|250    |250   |35  |150    |0   |435  |
+----+----+----+----+------------+----------+--------------+---------+---+-------+------+----+-------+----+-----+


--------------Employee_Table----------------------

+----+------------+--------+---------+--------+----+---------+---------+
|eid |ename       |ejob    |eadd     |econtact|esal|edoj     |edol     |
+----+------------+--------+---------+--------+----+---------+---------+
|3001|STEVEN KING |PAINTER |NEW YORK |10367454|1200|01-JAN-08|null     |
|3002|DAVID AUSTIN|FITTER  |MANAHTON |10367434|110 |19-AUG-10|null     |
|3003|BRUCE ERENST|MECHANIC|NEW JERCY|10367264|2200|08-SEP-10|null\t   |
|3004|LUIS POP    |MECHANIC|NEW JERCY|10367264|1700|19-OCT-19|06-SEP-10|
|3005|SHERI GOMES |FITTER  |PARIS    |10327264|1000|19-OCT-09|01-AUG-10|
|3000|JAMES PHILIP|FITTER  |PARIS    |10322264|null|01-JAN-08|null     |
+----+------------+--------+---------+--------+----+---------+---------+


--------------Sparepart_Table----------------------

+----+------------------------+------+------+
|spid|spname                  |sprate|spunit|
+----+------------------------+------+------+
|4001|TWO WHEELER TUBE        |250   |NOS   |
|4002|TWO WHEELER ENGINE OIL  |400   |LTRS  |
|4003|FOUR WHEELER ENGINE OIL |5000  |LTRS  |
|4004|TWO WHEELER CARBORATOR  |680   |NOS   |
|4005|TWO WHEELER CLUTCH WIRE |129   |MTRS  |
|4006|TWO WHEELER TAIIL LIGHT |100   |NOS   |
|4007|TWO WHEELER INDICATORS  |150   |NOS   |
|4008|FOUR WHEELER GASKIT     |1340  |NOS   |
|4009|WHITE COLOUR            |340   |LTRS  |
|4010|BLACK COLOUR            |240   |LTRS  |
|4011|TWO WHEELER SIDE MIRROR |250   |NOS   |
|4012|FOUR WHEELER SIDE MIRROR|450   |NOS   |
|4013|TWO WHEELER SHOCKUP     |1320  |PAIR  |
|4014|FOUR WHEELER BUMPER     |6000  |NOS   |
|4015|FOUR WHEELER FRONT GLASS|7000  |PCS   |
+----+------------------------+------+------+


--------------Purchase_Table----------------------

+----+----+----+----+------+-------+---------+---------+--------+-------+
|pid |vid |spid|pqty|sprate|spgst  |pdate    |transcost|total   |rcv_eid|
+----+----+----+----+------+-------+---------+---------+--------+-------+
|5001|2001|4001|10  |250   |350.0  |01-JAN-11|1300     |4150.0  |3001   |
|5002|2002|4002|4   |400   |288.0  |02-MAR-11|100      |1988.0  |3001   |
|5003|2003|4004|8   |680   |761.6  |12-JUN-11|50       |6251.6  |3003   |
|5004|2004|4005|10  |129   |154.8  |22-AUG-11|125      |1569.8  |3004   |
|5005|2005|4006|20  |100   |300.0  |07-SEP-11|20       |2320.0  |3003   |
|5006|2006|4007|30  |150   |630.0  |11-OCT-11|60       |5190.0  |3000   |
|5007|2001|4003|20  |5000  |14000.0|07-SEP-11|1000     |115000.0|3000   |
|5008|2006|4005|1   |129   |15.48  |12-OCT-11|50       |194.48  |3005   |
|5009|2006|4005|1   |129   |15.48  |15-OCT-11|50       |194.48  |3005   |
|5010|2006|4009|5   |340   |238.0  |20-OCT-11|0        |2938.0  |3005   |
+----+----+----+----+------+-------+---------+---------+--------+-------+


--------------Vendor_Table----------------------

+----+-------------+---------+--------+-----------+---------+
|vid |vname        |vadd     |vcontact|vcreditdays|vdate    |
+----+-------------+---------+--------+-----------+---------+
|2001|KIRAN PATIL  |PUNE     |20535535|20         |20-JAN-10|
|2002|PRAKASH JAIN |MUNBAI   |2063564 |10         |05-NOV-11|
|2003|SWAPNIL THETE|NASHIK   |25355352|15         |18-MAR-10|
|2004|AMOL SHENDE  |SATARA   |23674776|18         |07-APR-15|
|2005|KARAN SINTRE |BULDHANA |256756  |30         |22-APR-09|
|2006|RAM KULKARNI |OSMANABAD|20367454|21         |09-JUL-10|
+----+-------------+---------+--------+-----------+---------+