<table align="left">
  <td>
    <a href="https://colab.research.google.com/github/pavanhalde21/PySpark_lecture_files/blob/main/Questions_01/to_solve_garage_sql_questions_code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>
  </td>
</table>

In [ ]:
# Garage Data System â€“ SQL Questions
# ---
# This notebook contains 60 SQL practice questions.

In [ ]:
# Q.1: List all the customers serviced.

In [ ]:
# Q.2: Customers who are not serviced.

In [ ]:
# Q.3: Employees who have not received the commission.

In [ ]:
# Q.4: Name the employee who have maximum Commission.

In [ ]:
# Q.5: Show employee name and minimum commission amount received by an employee.

In [ ]:
# Q.6: Display the Middle record from any table.

In [ ]:
# Q.7: Display last 4 records of any table.

In [ ]:
# Q.8: Count the number of records without count function from any table.

In [ ]:
# Q.9: Delete duplicate records from "Ser_det" table on cid.

In [ ]:
# Q.10: Show the name of Customer who have paid maximum amount.

In [ ]:
# Q.11: Display Employees who are not currently working.

In [ ]:
# Q.12: How many customers serviced their two wheelers.

In [ ]:
# Q.13: List the Purchased Items which are used for Customer Service with Unit of that Item.

In [ ]:
# Q.14: Customers who have Colored their vehicles.

In [ ]:
# Q.15: Find the annual income of each employee inclusive of Commission.

In [ ]:
# Q.16: Vendor Names who provides the engine oil.

In [ ]:
# Q.17: Total Cost to purchase the Color and name the color purchased.

In [ ]:
# Q.18: Purchased Items which are not used in "Ser_det".

In [ ]:
# Q.19: Spare Parts Not Purchased but existing in Sparepart.

In [ ]:
# Q.20: Calculate the Profit/Loss of the Firm.

In [ ]:
# Q.21: Specify the names of customers who have serviced their vehicles more than one time.

In [ ]:
# Q.22: List the Items purchased from vendors locationwise.

In [ ]:
# Q.23: Display count of two wheeler and four wheeler from ser_details.

In [ ]:
# Q.24: Display name of customers who paid highest SPGST and for which item.

In [ ]:
# Q.25: Display vendors name who have charged highest SPGST rate for which item.

In [ ]:
# Q.26: List name of item and employee name who have received item.

In [ ]:
# Q.27: Display Customer Name, Vehicle Number, Item Used, Purchase Date, Vendor, and Location.

In [ ]:
# Q.28: Who belong this vehicle 'MH14PA335'? Display the customer name.

In [ ]:
# Q.29: Display the name of customer from New York and their vehicle service date.

In [ ]:
# Q.30: From whom we have purchased items having maximum cost?

In [ ]:
# Q.31: Display employees who are not 'Mechanic' and have done services.

In [ ]:
# Q.32: Display jobs with more than two employees.

In [ ]:
# Q.33: Display details of employees who did a service and rank them by number of services.

In [ ]:
# Q.34: Display painter/fitter employees who provided a service and total service count for each.

In [ ]:
# Q.35: Display employee salary and provide a Grade based on salary.

In [ ]:
# Q.36: Display the 4th record of emp table without using group by and rowid.

In [ ]:
# Q.37: Provide a commission 100 to employees who are not earning any commission.

In [ ]:
# Q.38: Write a query that totals no. of services for each day and place the results in descending order.

In [ ]:
# Q.39: Display the service details of those customer who belong from same city.

In [ ]:
# Q.40: Write a query join customers table to itself to find all pairs of customers serviced by a single employee.

In [ ]:
# Q.41: List each service number followed by name of the customer who made that service.

In [ ]:
# Q.42: Write a query to get details of employee and provide rating on basis of maximum services provide by employee. (A,B,C,D).

In [ ]:
# Q.43: Write a query to get maximum service amount of each customer with their customer details.

In [ ]:
# Q.44: Get the details of customers with his total no of services.

In [ ]:
# Q.45: From which location sparepart purchased with highest cost?

In [ ]:
# Q.46: Get the details of employee with their service details who has salary is null.

In [ ]:
# Q.47: Find the sum of purchase location wise.

In [ ]:
# Q.48: Write a query sum of purchase amount in word location wise?

In [ ]:
# Q.49: Has the customer who has spent the largest amount money has been given highest rating.

In [ ]:
# Q.50: Select the total amount in service for each customer for which the total is greater than the amount of the largest service amount in the table.

In [ ]:
# Q.51: List the customer name and sparepart name used for their vehicle and vehicle type.

In [ ]:
# Q.52: Write a query to get spname, ename, cname, quantity, rate, service amount for record exist in service table.

In [ ]:
# Q.53: Specify the vehicles owners whose tube damaged.

In [ ]:
# Q.54: Specify the details who have taken full service.

In [ ]:
# Q.55: Select the employees who have not worked yet and left the job.

In [ ]:
# Q.56: Select employee who have worked first ever.

In [ ]:
# Q.57: Display all records falling in odd date.

In [ ]:
# Q.58: Display all records falling in even date.

In [ ]:
# Q.59: Display the vendors whose material is not yet used.

In [ ]:
# Q.60: Difference between purchase date and used date of spare part.